.container {
  min-height: 100vh;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  background: #fff;
  min-width: 100%;
  height: 100px;
}

.flag {
  width: 24px;
  height: 16px;
  margin-right: 16px;
}

.title {
  font-family: 'Inter';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.2px;
}

div.paper-table {
  border-radius: 12px;
  padding: 16px;
  width: 80%;
  margin-top: 32px;
  margin-bottom: 32px;
}

hr.divider {
  margin: 16px -16px 16px -16px;
}

div .table-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table-headers {
  font-family: 'Inter';
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.12px;
  text-transform: uppercase;
}

thead .table-headers {
  padding: 2px;
  border-bottom: 0;
  margin: 12px;
}

.no-wrap {
  white-space: nowrap;
}

thead .padding-left-headers {
  padding-left: 16px;
}
