.square {
  align-items: center;
  background-color: #a7a7a7;
  border-radius: 6px;
  color: #ffffff;
  display: flex;
  font-family: 'Inter';
  font-size: 14px;
  font-weight: 700;
  height: 24px;
  justify-content: center;
  letter-spacing: -0.01em;
  line-height: 14px;
  text-align: left;
  width: 24px;
}
.promotion-ucl {
  background-color: #1c336c;
}
.promotion-uel {
  background-color: #c82d2d;
}
.drop {
  background-color: #ff5f5f;
}
.small {
  height: 16px;
  width: 16px;
}
