.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.club-icon {
  width: 25px;
  height: 25px;
}

.team {
  display: flex;
  align-items: center;
  height: 25px;
  gap: 8px;
  width: auto;
}

.team-name {
  font-family: 'Inter';
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -0.01em;
  text-align: left;
}

thead .radius {
  border-radius: 4px;
}

div.navigation {
  background: #eeeff2;
  display: flex;
  width: 100%;
  gap: 10px;
  padding: 10px 0;
  margin-bottom: 24px;
}

div.navigation-text {
  color: #000;
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.16px;
  padding-left: 48px;
}

div.sub-navigation-text {
  color: #1c336c80;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.16px;
}

a div.games-nav {
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.16px;
}

div .legend {
  font-family: 'Inter';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.12px;
  gap: 10px;
  padding-top: 0;
  padding-bottom: 0;
}

th.radius-bottom {
  border-radius: 0px 4px 4px 0px;
}

th.radius-top {
  border-radius: 4px 0px 0px 4px;
}

thead {
  background-color: #eaebed;
  border-bottom: 0;
  margin-top: 126px;
}

ul.list {
  padding-bottom: 0px;
  margin-bottom: -6px;
}

img.arrow-right {
  padding-left: 4px;
}

a div.games-nav {
  display: flex;
  cursor: pointer;
  align-items: center;
}
