.pagination {
  width: 80%;
  margin: 22px 0px 22px 0;
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.btn-text {
  display: flex;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.16px;
  cursor: pointer;
  border-radius: 8px;
}

.btn-show-rounds {
  gap: 10px;
  background: #1c336c;
  color: #fff;
}

.btn-details {
  padding: 12px 16px;
  gap: 4px;
  margin-left: 8px;
  border-radius: 8px;
  background: #fff;
  border: 1.5px solid #d5e0e8;
}

.btn-monitor {
  border-radius: 8px;
  border: 1.5px solid #d5e0e8;
  display: flex;
  background: #fff;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.teams-text {
  display: flex;
  align-items: center;
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.16px;
  gap: 8px;
}

.separator-teams {
  padding-bottom: 12px;
}

.teams {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 8px;
}

.club-icon {
  width: 16px;
  height: 16px;
}

.btn-arrow {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  gap: 4px;
  letter-spacing: -0.18px;
  font-family: 'Inter';
  cursor: pointer;
  border: '0px none none';
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: #00000080;
}

.table-date {
  font-family: 'Inter';
  color: #00000080;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.16px;
}

.last-row {
  border: '0px none none';
}

.table-nav {
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.16px;
}

.table-body-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.score {
  padding: 0 64px 0 64px;
}

.vertical-separator {
  margin-left: 16px;
  height: 40px;
  border-left: 2px solid #61aee4;
}

.table-body-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.games-nav {
  display: flex;
  cursor: pointer;
  align-items: center;
}
